<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>

  <ul class="nav nav-pills">
    <li routerLinkActive="active">
      <a class="nav-link"
         routerLink='/welcome'>Home</a>
    </li>
    <li routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link"
         routerLink='/movies'>Movie List</a>
    </li>
    <li routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link"
         [routerLink]="['/movies', 0, 'edit']">Add Movie</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li *ngIf="isLoggedIn">
      <a class="nav-link"
         routerLink='/login'>Welcome {{ userName }}</a>
    </li>

    <li *ngIf="!isLoggedIn">
      <a class="nav-link"
         routerLink='/login'>Log In</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a class="nav-link"
         (click)="logOut()">Log Out</a>
    </li>
  </ul>

</nav>