<div class="panel panel-primary" *ngIf="movie">
    <div class="panel-heading">
        {{ pageTitle + ": " + movie.title }}
    </div>

    <div class="panel-body">
        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="row">
            <div class="col-md-3">Description: </div>
            <div class="col-md-9">{{ movie.description }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Director: </div>
            <div class="col-md-9">{{ movie.director }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Release Date: </div>
            <div class="col-md-9">{{ movie.releaseDate | date}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">MPAA Film Rating: </div>
            <div class="col-md-9">{{ movie.mpaa | uppercase}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Category: </div>
            <div class="col-md-9">{{ movie.category }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Tags:</div>
            <div class="col-md-9">{{movie.tags}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Star Rating: </div>
            <div class="col-md-9">
                <mh-star [rating]="movie.starRating"></mh-star>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Audience Approval: </div>
            <div class="col-md-9">{{ movie.approvalRating | percent:'1.0-0' }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Average DVD Price: </div>
            <div class="col-md-9">{{ movie.price | currency:'USD':'symbol' }}</div>
        </div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-primary" style="width:80px;margin-left:10px" [routerLink]="['/movies', movie.id, 'edit']">
            Edit
        </a>
        <a class="btn btn-primary" [routerLink]="['/movies', movie.id, 'editReactive']">
            Edit Reactive
        </a>
    </div>
</div>