<div class='card'
     *ngIf='movies$ | async as movies'>
  <div class='card-header'>
    {{pageTitle}}
  </div>

  <div class='card-body'>
    <div class='list-group'>
      <button type='button'
              class='list-group-item'
              *ngFor='let movie of movies'
              [ngClass]="{'active': movie?.id === selectedMovie?.id}"
              (click)='onSelected(movie)'>
        {{ movie.title }} ({{ movie.mpaa | uppercase }})
      </button>
    </div>
  </div>
</div>
<div class='alert alert-danger'
     *ngIf='errorMessage$ | async as errorMessage'>
  Error: {{ errorMessage }}
</div>