<div class='panel panel-primary' *ngIf='movies?.length'>
    <div class='panel-heading'>
      {{pageTitle}}
    </div>
  
    <div class='panel-body'>
      <div class='list-group'>
        <button type='button'
                class='list-group-item'
                *ngFor='let movie of movies'
                [ngClass]="{'active': movie && movie?.id === currentMovie?.id}"
                (click)='onSelected(movie)'>
          {{ movie.title }} ({{ movie.mpaa | uppercase }})
        </button>
      </div>
    </div>

    <div class="panel-footer text-right">
      <a class="btn btn-primary" (click)='onAdd()'>
          Add
      </a>
    </div>
  </div>
  <div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>